/* styles.css */

.page_header {
    background: lightgreen;
    font-weight: 22;
    font-family: "Courier New", monospace;
    text-align: center;
    text-decoration: underline;
}

.recipe_box {
    display: inline;
    background: lightgrey;
    border: 1px solid green;
    margin: 5px;
    padding: 15px;
    border-radius: 25px;
}

.steps {
    width: 400px;
    margin-left: 30px;
    margin-top: 5px;
    background: lightgrey;
    border: 1px solid green;
    padding: 15px;
    border-radius: 25px;   
}

.ingredients_list {
    display: inline-flex;
    background: rgb(68, 63, 45);
    border: 1px solid green;
    margin: 5px;
    padding: 15px;
 
}

a {
    text-transform: uppercase;
    letter-spacing: 2px;
    rotation: 15
}

h3 {
    color: #000000;
}

h4 {
    color: rgb(60, 182, 182);
}

li {
    text-decoration-style: dotted;
    color:rgb(167, 147, 147)
}